[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

################################################################################
## 
# MyISAM storage engine has only experimental support
default_storage_engine=InnoDB
# This changes how |InnoDB| autoincrement locks are managed and is a requirement for Galera
innodb_autoinc_lock_mode=2

default-character-set = utf8

## Galera speicific parameters

# Path to Galera library
wsrep_provider=/usr/lib64/libgalera_smm.so
# wsrep provider parameters
#wsrep_provider_options='gcache.size=1G;socket.ssl_key=my_key;socket.ssl_cert=my_cert'

# In order for Galera to work correctly binlog format should be ROW
binlog_format=ROW

wsrep_slave_threads=16
wsrep_sst_method=xtrabackup

################################################################################
# To be changed for a new cluster instance
################################################################################

# Cluster name
wsrep_cluster_name=mcluster1
# Cluster connection URL, fill the required host address here
wsrep_cluster_address=gcomm://

#wsrep_node_name=node1
#wsrep_sst_auth=root:

#log_slave_updates=1
#read_only = 1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
